@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 5fr minmax(20em, 1fr);
  background-color: #202020;
  color: #fff;
}

.col {
  display: grid;
  height: 100vh;
}
.col.left {
  grid-template-rows: 1fr 2em;
}
.col.right {
  grid-template-rows: auto 1fr;
}

.title_container {
  background-color: #303030;
}

.settings_container {
  overflow: auto;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
}

.plot_container {
  height: 100%;
  width: 100%;
}