{% set reg= r/^(type|name|section|label)$/i %}

{% macro field(values) %}
{% set id= values.section + '.' + values.name %}

<label for="{{ id }}">{{ values.label }}</label>
<input id="{{ id }}" type="{{ values.type }}" value="" data-section="{{ values.section }}" data-name="{{ values.name }}"/>

{% endmacro %}


{% macro fieldgroup(values) %}
    <label class="inputGroup">
        <span>{{ values.label }}</span>

        {#<div class="inputFields">#}
        {% for entry in values.entries %}
            {{ field(entry) }}
        {% endfor %}
        {#</div>#}
    </label>
{% endmacro %}