{% set reg= r/^(type|name|section|label)$/i %}

{% macro field(values) %}
{% set id= values.section + '.' + values.name %}

<label for="{{ id }}">{{ values.label }}</label>
<div class="inputContainer {{"tooltip" if values.tooltip}}" data-tooltip-text="{{ values.tooltip }}">
    {% if values.type == 'selection' %}
        <select>
            {% for option in values.options %}
                <option>{{ option }}</option>
            {% endfor %}
        </select>
    {% else %}
        {{"data-activation=\"" + values.activation + "\""  if values.activation}}
        <input id="{{ id }}" type="{{ values.type }}" value=""
               data-section="{{ values.section }}" data-name="{{ values.name }}" {% if values.activation %} data-activation="{{ values.activation }}" {% endif %}/>
    {% endif %}
</div>
{% endmacro %}


{% macro fieldgroup(values) %}
    <label class="inputGroup">
        <span>{{ values.label }}</span>

        {% for entry in values.entries %}
            {{ field(entry, values) }}
        {% endfor %}
    </label>
{% endmacro %}