@import "variables.scss";
%input {
  width: calc(100% - 2em);
  padding: 0.3em 0.5em;
  border: 0.15em solid #555;
  outline: none;
  border-radius: $input-radius;
  height: 2em;
  border-right-width: 0;
  
  &:focus {
    border-color: $accent-color;
  }

  &[type='checkbox'] {
    appearance: none;
    margin: 0;
    padding: 0;
    //width: 5em;
    line-height: 2em;
    cursor: pointer;
    transition: background-color 500ms;
    $distance: .7em;

    &:before {
      content: 'off';
      display: inline-block;
      transform: translateX(calc(50% + #{$distance} - .7em));
      color: #fff;
      line-height: 1em;
      transition: transform 500ms;
      width: 100%;
    }

    &:after{
      content: '⬤';
      display: inline-block;
      color: #fff;
      width: 100%;
      height: 1em;
      line-height: 1em;
      font-weight: 900;
      transform: translate(calc(50% - #{$distance} - .7em), -2em);
      transition: transform 500ms;
    }
    &[checked] {
      background-color: $accent-color;
      &:before {
        content: 'on';
        transform: translateX(calc(50% - #{$distance} - .7em));
      }
      &:after {
        color: #fff;
        transform: translate(calc(50% + #{$distance} - .7em), -2em);

        //color: $background-color;
      }
    }
  }
}

%resetbutton {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  height: 2em;
  line-height: 1em;
  width: 2em;
  background-color: #555;
  color: #fff;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #444;
  }
}
