{% from '../macros/mathfield.njk' import mathfield %}

<div class="tabs">
    <input id="nav-input-1" class="nav-input" type="radio" name="nav" checked>
    <input id="nav-input-2" class="nav-input" type="radio" name="nav">
    <input id="nav-input-3" class="nav-input" type="radio" name="nav">

    <div class="nav">
        <label for="nav-input-1">\(\dot{x}, \dot{y}\)</label>
        <label for="nav-input-2">\(\dot{\vec{x}} = A \vec{x}\)</label>
        <label for="nav-input-3">\(\dot{r}, \dot{\theta}\)</label>
    </div>

    <div id="content-1" class="tab">
        {{ mathfield('dx', '\\(\\dot{x}=\\)') }}
        {{ mathfield('dy', '\\(\\dot{y}=\\)') }}
        <button id="apply-dxdy">apply</button>
    </div>

    <div id="content-2" class="tab">
        {% include "./matrix.njk" %}
        <button id="apply-A">apply</button>
    </div>

    <div id="content-3" class="tab">
        {{ mathfield('dr', '\\(\\dot{r}=\\)') }}
        {{ mathfield('dt', '\\(\\dot{\\theta}=\\)') }}
        <button id="apply-drdt">apply</button>
    </div>
</div>