<div class="matrix">
    <span class="equation">\(A=\)</span>
    <div class="mathfield" id='mathfield-mat11'></div>
    <div class="mathfield" id='mathfield-mat12'></div>
    <div class="mathfield" id='mathfield-mat21'></div>
    <div class="mathfield" id='mathfield-mat22'></div>
    {#<input title="matrix entry [1,1]" type="text" id="mat11" required>#}
    {#<input title="matrix entry [1,2]" type="text" id="mat12" required>#}
    {#<input title="matrix entry [2,1]" type="text" id="mat21" required>#}
    {#<input title="matrix entry [2,2]" type="text" id="mat22" required>#}
</div>