{#{% extends "basic.njk" %}#}
{% from "../macros/input.njk" import field, fieldgroup %}

{% macro collapsible(label, open=false) %}
<div class="collapsible">
    <input id="{{ label }}-collapsible" class="collapsible-input" type="checkbox" {{ "checked" if open }}>
    <label class="collapsible-label" for="{{ label }}-collapsible">{{ label }}</label>
    <div class="collapsible-content">
        {% endmacro %}

        {% macro endcollapsible() %}
    </div>
</div>
{% endmacro %}

<h2>Settings</h2>

{% for name, fields in input %}
{{ collapsible(name, fields.open) }}
    {% for values in fields.entries %}
        {% if values.entries %}
            {{ fieldgroup(values) }}
        {% else %}
            {{ field(values) }}
            {#<label for="{{ id }}">{{ values.label }} individual</label>#}
        {% endif %}
        {#<input id="{{ id }}" type="{{ values.type }}" value="" data-section="{{ values.section }}" data-name="{{ values.name }}"/>#}
    {% endfor %}
{{ endcollapsible() }}
{% endfor %}

