{% extends "../basic.njk" %}

{% block head %}
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/lib/mathlive.core.css">
    <link rel="stylesheet" href="/lib/mathlive.css">
{% endblock %}

{% block end %}
    <script src="/lib/mathlive.js"></script>
    <script src="/lib/math.min.js"></script>
    <script src="/js/mathfield.js"></script>

    <script src="/js/canvas.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            {% block header %}{% endblock %}
        </div>

        <div class="settings panel">
            {% block settings %}{% endblock %}
        </div>

        <div class="main">
            <canvas class="canvas" id="canvas" width="800" height="600"></canvas>
        </div>

        <div class="equations panel">
            {% block equations %}{% endblock %}
        </div>

        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
{% endblock %}